body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --ms_background-color: #2C3E51;
}

.ms_header{
    background-color: var(--ms_background-color);
}

#jambo{
    background-color: #1abc9c ;
}

#cards .ms_card{
    background-color: lightskyblue ;
    min-height: 100px;
    width: auto;
}