body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --ms_background-color: #2C3E51;
}

.ms_header{
    background-color: var(--ms_background-color);
}

#jambo{
    background-color: #1abc9c ;
    color: #fff;
}
#jambo .ms_img{
    width: 200px;
    height: auto;
    margin: auto;

}


#portfolio .ms_card{
    background-color: lightskyblue ;
    min-height: 100px;
    width: auto;
}
#portfolio .ms_c-img{
    width: 100%;
    height: auto;
    margin: auto;
}

#ms_f-top{
    background-color: #3a546d;
    color: #fff;
}

#ms_f-bottom{
    background-color: var(--ms_background-color);
    color: #fff;

}